* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.add-edit-ol-uniforms {
    font-family: "Orbitron", sans-serif;

  position: relative;
  min-height: 100vh;
  padding: 20px;
  background-color: #0e0e2c;
  color: #ffffff;
}

.add-edit-ol-uniforms .title {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.add-edit-ol-uniforms .form-container {
  margin-top: 20px;
}

.add-edit-ol-uniforms .back-icon-container {
  display: flex;
  align-items: center;
}

.add-edit-ol-uniforms .back-icon {
  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.add-edit-ol-uniforms .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.add-edit-ol-uniforms .form-fields {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.add-edit-ol-uniforms label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 18px;
}

.add-edit-ol-uniforms input[type="text"],
.add-edit-ol-uniforms input[type="file"],
.add-edit-ol-uniforms input[type="number"] {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #00d4ff;
  border-radius: 5px;
  background-color: #1f1f4b;
  color: #ffffff;
}

.add-edit-ol-uniforms .image-preview {
  margin: auto;
  width: auto;
  height: 150px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 30px #00d4ff;
  transition: border-color 0.3s ease;
}

.add-edit-ol-uniforms .image-preview:hover {
  border-color: #66eaff;
}

.add-edit-ol-uniforms .location-quantity {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.add-edit-ol-uniforms .location-quantity label {
  width: 100%;
  margin-bottom: 10px;
}

.add-edit-ol-uniforms button[type="submit"] {
      font-family: "Orbitron", sans-serif; /* Futuristic font */

  width: 100%;
  background-color: #1f1f4b;
  color: #ffffff;
  border: 2px solid #00d4ff;
  border-radius: 10px;
  padding: 20px 0;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 30px #00d4ff;
  clip-path: polygon(0% 0%, 70% 0%, 100% 30%, 100% 100%, 30% 100%, 0% 70%);
}

.add-edit-ol-uniforms button[type="submit"]:hover {
  background-color: #2a2a5e;
  border-color: #66eaff;
  box-shadow: 0 0 10px #66eaff, 0 0 20px #66eaff, 0 0 30px #66eaff;
}

@media (min-width: 600px) {
  .add-edit-ol-uniforms .form-group {
    flex-direction: row;
  }

  .add-edit-ol-uniforms .location-quantity {
    flex-direction: row;
    justify-content: space-between;
  }

  .add-edit-ol-uniforms .location-quantity label {
    width: 48%;
  }
}

.add-edit-ol-uniforms .consumable-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1f1f4b;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}

.add-edit-ol-uniforms .consumable-label input[type="checkbox"] {
  margin-right: 10px;
}

.add-edit-ol-uniforms .consumable-label span {
  font-size: 18px;
}
