/* History.css */

.history-page {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  background-color: #0e0e2c; /* Dark blue background */
  color: #ffffff; /* White text color */
}

.history-page .title {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff; /* White text color */
  margin-left: 10px;
  text-align: center;
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Slightly increased letter spacing */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Adjusted text shadow */
}

.history-page .back-icon-container {
  display: flex;
  align-items: center;
}

.history-page .back-icon {
  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.history-page .search-container {
  margin-top: 20px;
}

.history-page .search-input {
  background-color: #1f1f4b; /* Dark blue color */
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #5c6672ff;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #ffffff; /* White text color */
}

.history-page .transactions-container {
  margin-top: 20px;
}

.history-page .transactions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.history-page .transaction-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid #5c6672ff;
  font-weight: bold;
  color: #ffffff; /* White text color */
}

.history-page .transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #5c6672ff;
}

.history-page .transaction-date {
  flex: 1;
  color: #ffffff; /* White text color */
  text-align: left;
}

.history-page .transaction-username {
  flex: 1;
  color: #ffffff; /* White text color */
  text-align: center;
}

.history-page .transaction-action {
  flex: 2;
  color: #ffffff; /* White text color */
  text-align: right;
}

.history-page .transaction-item:hover {
  background-color: #333366; /* Lighter dark blue */
}
